[Unit]
Description=NEXUS FCT Log Analysis Dashboard Service
After=network.target

[Service]
User=user_name
Group=www-data

WorkingDirectory=/path/to/Log-Analysis-Tool
Environment="PATH=/path/to/Log-Analysis-Tool/venv/bin"

ExecStart=/path/to/Log-Analysis-Tool/venv/bin/gunicorn --workers 4 --timeout 120 --bind 0.0.0.0:59488 "backend.app:app"

Restart=always
RestartSec=3

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nexus-fct

[Install]
WantedBy=multi-user.target
